<!-- Contact Section Start -->
        <section id="contact" class="inner contact">

          <!-- Content Block - H2 Section Title Start -->
          <div class="content__block section-title">
            <p class="h2__subtitle  animate-in-up">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 13 13" fill="currentColor">
                <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                  C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                  C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
              </svg>
              <span>Contact</span>
            </p>
            <h2 class="h2__title  animate-in-up">Let's make something awesome together!</h2>
          </div>
          <!-- Content Block - H2 Section Title End -->

          <!-- Content Block - Contact Form Start -->
          <div class="content__block grid-block block-grid-large">
            <div class="form-container">

              <!-- Reply Messages Start -->
              <div class="form__reply centered text-center">
                <i class="ph-bold ph-smiley reply__icon"></i>
                <p class="reply__title">Done!</p>
                <span class="reply__text">Thanks for your message. I'll get back as soon as possible.</span>
              </div> 
              <!-- Reply Messages End -->

              <!-- Contact Form Start -->
              <form class="form contact-form" id="contact-form">
                <!-- Hidden Required Fields -->
                <input type="hidden" name="project_name" value="Starter Template">
                <input type="hidden" name="admin_email" value="support@mixdesign.club">
                <input type="hidden" name="form_subject" value="Contact Form Message">
                <!-- END Hidden Required Fields-->
                <div class="container-fluid p-0">
                  <div class="row gx-0">
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="text" name="Name" placeholder="Your Name*" required>
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="text" name="Company" placeholder="Company Name">
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="email" name="E-mail" placeholder="Email Adress*" required>
                    </div>
                    <div class="col-12 col-md-6 form__item animate-in-up">
                      <input type="tel" name="Phone" placeholder="Phone Number*" required>
                    </div>
                    <div class="col-12 form__item animate-in-up">
                      <textarea name="Message" placeholder="A Few Words*" rows="2" required></textarea>
                    </div>
                    <div class="col-12 form__item animate-in-up">
                      <button class="btn btn-default btn-hover btn-hover-accent" type="submit">
                        <span class="btn-caption">Send Message</span>
                        <i class="ph-bold ph-paper-plane-tilt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!-- Contact Form End -->

            </div>
          </div>
          <!-- Content Block - Contact Form End -->

          <!-- Content Block - Teaser Start -->
          <div class="content__block">
            <div class="teaser">
              <p class="teaser__text animate-in-up">Want to know more about me, tell me 
                about your project or just to say hello? 
                <a class="text-link-bold" href="mailto:example@example.com?subject=Message%20from%20your%20site">Drop me a line</a> 
                and I'll get back 
                as soon as possible.
              </p>
            </div>
          </div>
          <!-- Content Block - Teaser End -->


        </section>
        <!-- Contact Section End -->